anyio==3.7.0
certifi==2023.5.7
h11==0.14.0
httpcore==0.17.2
httpx==0.24.1
idna==3.4
portfolio-manager-nb @ git+https://github.com/AeroStarCreations/PortfolioManager.git@7c9cca45d4459f0e6785f869e5c6c2b9ad6a7b40
python-dotenv==1.0.0
sniffio==1.3.0
